*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --butteryellow: #fcfa747d;
    --lighteryellow: #f3f374;
}

html{
    /* adding background color to entire page */
    background-color: var(--butteryellow);

}

/* flex container */
body{
    min-height: 100vh;
    /* making into a flex container */
    display: flex;
    /* centering flex items horizontally */
    justify-content: center;
    /* aligning flex items vertically */
    align-items: center;
    /* Making items display in column */
    flex-direction: column;
    
}

main{
    background-color: rgb(43, 43, 43);
    padding-top: 2em;
    margin-bottom: 40px;
    border-radius: 5%;
    width: 800px;
    height: 820px;
}

h1{
    padding: .5em;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
}

/* flex container */
#gridContainer{
    /* making into a flex container */
    display: flex;
    /* to have the flex items wrap */
    flex-wrap: wrap;
    align-content: flex-start;
    /* height and width */
    height: 600px;
    width: 600px;
    /* border size and color */
    margin: 0 auto;  
}

.square{
    border: 2px solid white;
    background-color: white;
}

#buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}

#color{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

}

button{
    padding: 10px;
    background-color: #5e5d5d;
    width: 120px;
    color: white;
    margin-top: 2.5em;
    border-radius: 8px;
    font-weight: bold;
    transition-duration: 1s;
}

button:hover{
    background-color: rgb(243, 243, 116)!important;
    color: black;
    cursor: pointer;
    /* set width and height larger by 1.2x */
    transform: scale(1.2);
}


button:focus{
    background-color: var(--lighteryellow); 
    color: black;

}

input[type=color] {
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    overflow: hidden;
}


input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}
