*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --butteryellow: #fcfa747d;
}

html{
    /* adding background color to entire page */
    background-color: var(--butteryellow);

}

/* flex container */
body{
    min-height: 100vh;
    /* making into a flex container */
    display: flex;
    /* centering flex items horizontally */
    justify-content: center;
    /* aligning flex items vertically */
    align-items: center;
    /* Making items display in column */
    flex-direction: column;
    
}

main{
    background-color: rgb(43, 43, 43);
    padding-top: 2em;
    border-radius: 5%;
    width: 720px;
    height: 750px;
}

h1{
    padding: 1em;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
}

/* flex container */
#container{
    /* making into a flex container */
    display: flex;
    /* to have the flex items wrap */
    flex-wrap: wrap;
    align-content: flex-start;
    /* height and width */
    height: 600px;
    width: 600px;
    /* border size and color */
    margin: 0 auto;  
}

.square{
    border: 2px solid white;
    background-color:white;
    /* initial size for 16x16 */
    /* width: 36px;
    height: 36px; */
  
}

#buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button{
    padding: 10px;
    background-color: #5e5d5d;
    width: 100px;
    color: white;
    margin-top: 2.5em;
    border-radius: 4px;
    font-weight: bold;
    transition-duration: 1s;
}



button:hover{
    background-color: rgb(243, 243, 116)!important;
    color: black;
    cursor: pointer;
    /* set width and height larger by 1.2x */
    transform: scale(1.2);
}

